@model List<BasketVM>


<div class="minicart-content-box">
    <div class="minicart-item-wrapper">
        <ul>
            @foreach (BasketVM product in Model)
            {
            <li class="minicart-item">
                <div class="minicart-thumb">
                    <a href="product-details.html">
                        <img src="~/assets/img/product/@product.Image" alt="product">
                    </a>
                </div>
                <div class="minicart-content">
                    <h3 class="product-name">
                        <a asp-controller="product" asp-action="detail" asp-route-id="@product.ProdId">@product.Name</a>
                    </h3>
                    <p>
                        <span class="cart-quantity">@product.SelectCount <strong>&times;</strong></span>
                        <span class="cart-price">$@product.Price</span>
                    </p>
                </div>
                <a asp-controller="basket" asp-action="DeleteFromBasket" asp-route-id="@product.ProdId" class="minicart-remove deletefrombasket"><i class="ion-android-close"></i></a>
            </li>

            }
        </ul>
    </div>

    <div class="minicart-pricing-box">
        <ul>
            <li>
                <span>sub-total</span>
                <span><strong>$@(Model.Sum(p=>p.Price * p.SelectCount))</strong></span>
            </li>
            <li>
                <span>Eco Tax (-2.00)</span>
                <span><strong>$0.00</strong></span>
            </li>
            <li>
                <span>VAT (20%)</span>
                <span><strong>$@(Model.Sum(p => p.Price * p.SelectCount) * 0.2)</strong></span>
            </li>
            <li class="total">
                <span>total</span>
                <span><strong>$@(Model.Sum(p => p.Price * p.SelectCount)+(Model.Sum(p => p.Price * p.SelectCount)) * 0.2)</strong></span>
            </li>
        </ul>
    </div>

    <div class="minicart-button">
        <a  asp-controller="basket" asp-action="index"><i class="fa fa-shopping-cart"></i> view cart</a>
        <a asp-controller="order" asp-action="index"><i class="fa fa-share"></i> checkout</a>
    </div>
</div>