@using Juan.Interfaces
@inject ILayoutService layoutService

@{
    List<BasketVM> basketVMs = await layoutService.GetBasket();
    IDictionary<string, string> settings = await layoutService.GetSetting();
    

}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<!-- Mirrored from demo.hasthemes.com/juan-preview-v1/juan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Mar 2021 22:36:22 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">
    <title>Juan - Shoes Store HTML Template</title>
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />
    <!--=== All Plugins CSS ===-->
    <link href="~/assets/css/plugins.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">

    <!--=== All Vendor CSS ===-->
    <link href="~/assets/css/vendor.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <!-- Modernizer JS -->
    <script src="~/assets/js/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    @await Component.InvokeAsync("Header", settings)
    <!-- off-canvas menu start -->
    <aside class="off-canvas-wrapper">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-inner-content">
            <div class="btn-close-off-canvas">
                <i class="ion-android-close"></i>
            </div>

            <div class="off-canvas-inner">
                <!-- search box start -->
                <div class="search-box-offcanvas">
                    <form>
                        <input type="text" data-url="http://localhost:16917/product/Search" class="searchinput" placeholder="Search Here...">
                        <div class="search-body" style="position:absolute; z-index:999;background-color:white; width:95%; top:250px">
                            <ul class="list-group">
                            </ul>
                        </div>
                        <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
                <!-- search box end -->
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                    <!-- mobile menu navigation start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children">
                                <a asp-controller="home" asp-action="index">Home</a>
                            </li>
                            <li><a asp-controller="product" asp-action="index">shop</a></li>
                            <li><a asp-controller="blog" asp-action="index">blog</a></li>
                            <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
                <!-- user setting option start -->
                <div class="mobile-settings">
                    <ul class="nav">
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Currency
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="currency">
                                    <a class="dropdown-item" href="#">$ USD</a>
                                    <a class="dropdown-item" href="#">$ EURO</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown mobile-top-dropdown">
                                <a href="#" class="dropdown-toggle" id="myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                    <a class="dropdown-item" href="my-account.html">my account</a>
                                    <a class="dropdown-item" href="login-register.html"> login</a>
                                    <a class="dropdown-item" href="login-register.html">register</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- user setting option end -->
                <!-- offcanvas widget area start -->
                <div class="offcanvas-widget-area">
                    <div class="off-canvas-contact-widget">
                        <ul>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <a href="#">0123456789</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="#">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="off-canvas-social-widget">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
                <!-- offcanvas widget area end -->
            </div>
        </div>
    </aside>
    <!-- off-canvas menu end -->
    @RenderBody()
    <!-- Quick view modal start -->
    <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <!-- Quick view modal end -->
    @await Component.InvokeAsync("Footer", settings)

    <!-- offcanvas search form start -->
    <div class="offcanvas-search-wrapper" style="overflow:hidden">
        <div class="offcanvas-search-inner">
            <div class="offcanvas-close">
                <i class="ion-android-close"></i>
            </div>
            <div class="container">
                <div class="offcanvas-search-box" style="overflow-y:auto">
                    <form class="d-flex bdr-bottom w-100">
                        <input type="text" data-url="http://localhost:16917/product/Search" class="searchinput" placeholder="Search Here...">
                        <div class="search-body" style="position:absolute; z-index:999;background-color:white; width:95%; top:400px">
                            <ul class="list-group">
                            </ul>
                        </div>
                        <button class="search-btn"><i class="ion-ios-search-strong"></i>search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas search form end -->
    <!-- offcanvas mini cart start -->

    <div class="offcanvas-minicart-wrapper ">
        <div class="minicart-inner ">
            <div class="offcanvas-overlay"></div>
            <div class="minicart-inner-content">
                <div class="minicart-close">
                    <i class="ion-android-close"></i>
                </div>
                <div class="header-cart" style="height:100%">
                    @await Html.PartialAsync("_AddToCartPartial", basketVMs)

                </div>

            </div>


        </div>
    </div>
    <!-- offcanvas mini cart end -->
    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->
    <!--=======================Javascript============================-->
    <!--=== All Vendor Js ===-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/assets/js/vendor.js"></script>
    <!--=== All Plugins Js ===-->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>

    <!--=== Active Js ===-->
    <script src="~/assets/js/active.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @RenderSection("Script", false)

</body>


<!-- Mirrored from demo.hasthemes.com/juan-preview-v1/juan/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Mar 2021 22:36:53 GMT -->
</html>