@model Product
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <!-- product details inner end -->
    <div class="product-details-inner">
        <div class="row">
            <div class="col-lg-5">

                <div class="product-large-slider mb-20 quick-view-image">
                    @foreach (Photo photo in Model.Photos)
                    {
                        <div class="pro-large-img img-zoom">
                            <img src="~/assets/img/product/@photo.Image" alt="product thumb" />
                        </div>
                    }
                </div>
                <div class="pro-nav slick-row-5 quick-view-thumb">
                    @foreach (Photo photo in Model.Photos)
                    {
                        <div class="pro-nav-thumb"><img src="~/assets/img/product/@photo.Image" alt="" /></div>

                    }
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product-details-des">
                    <h3 class="pro-det-title">@Model.Name</h3>
                    <div class="pro-review">
                        <span><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        @if (Model.DiscountedPrice > 0)
                        {
                            <span class="price-regular">$@Model.DiscountedPrice</span>
                            <span class="price-old"><del>$@Model.Price</del></span>
                        }
                        else
                        {
                            <span class="price-old"><del>$@Model.Price</del></span>
                        }
                    </div>
                    <p>@Model.Describtion</p>
                    <div class="quantity-cart-box d-flex align-items-center mb-20">
                        <div class="quantity">
                            <div class="pro-qty"><input type="text" value="1"></div>
                        </div>
                        <a href="cart.html" class="btn btn-default">Add To Cart</a>
                    </div>
                    <div class="availability mb-20">
                        <h5 class="cat-title">Availability:</h5>
                        @if (Model.IsAvailable)
                        {
                            <span style="color:greenyellow">In Stock</span>

                        }
                        else
                        {
                            <span style="color:orangered">Out Of Stock</span>

                        }
                    </div>
                    <div class="share-icon">
                        <h5 class="cat-title">Share:</h5>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details inner end -->
</div>
