@model ResetPasswordVM
@{
    ViewData["Title"] = "Update";
}

<h1>Reset Password</h1>

<div class=" row justify-content-center">
    <div class="col-lg-8">
        <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post">
            <div class="single-form">
                <input asp-for="Password" placeholder="Password">
                <span class="text text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="single-form">
                <input asp-for="ConfirmPasword" placeholder="Confirm Password">
                <span class="text text-danger" asp-validation-for="ConfirmPasword"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

@section Script{
    <partial name="_ValidationPartial">
}
