@model RegisterVM
@{
    ViewData["Title"] = "Register";
}
<!-- main wrapper start -->
<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">Register</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login-Register</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- login register wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <!-- Register Content Start -->
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap signup-form">
                            <h2>Singup Form</h2>
                            <div class="text text-danger" asp-validation-summary="ModelOnly"></div>
                            <form method="post">
                                <div class="single-input-item">
                                    <input asp-for="FullName" placeholder="Full Name" required />
                                    <span class="text text-danger" asp-validation-for="FullName"></span>
                                </div>
                                <div class="single-input-item">
                                    <input asp-for="UserName" placeholder="Username" required />
                                    <span class="text text-danger" asp-validation-for="UserName"></span>
                                </div>
                                <div class="single-input-item">
                                    <input asp-for="Email" placeholder="Enter your Email" required />
                                    <span class="text text-danger" asp-validation-for="Email"></span>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input asp-for="Password" placeholder="Enter your Password" required />
                                            <span class="text text-danger" asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input asp-for="ConfirmPasword" placeholder="Repeat your Password" required />
                                            <span class="text text-danger" asp-validation-for="ConfirmPasword"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="Subscribe" class="custom-control-input" id="subnewsletter">
                                                <label class="custom-control-label" for="subnewsletter">Subscribe our Newsletter</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Register Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- login register wrapper end -->
</main>
<!-- main wrapper end -->
@section Script{
    <partial name="_ValidationPartial" />
}