@model IDictionary<string, string>
@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-lg-2">
        <h1>Brands</h1>
    </div>
</div>
<div class="row justify-content-center">
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Setting</th>
            </tr>
        </thead>
        <tbody class="settingContainer">
            @await Html.PartialAsync("_SettingIndexPartial", Model)

        </tbody>
    </table>
</div>