@model Size
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Number" class="form-label"></label>
                <input asp-for="Number" class="form-control" id="name">
                <span class="text-danger" asp-validation-for="Number"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
